<div class="container mt-5">
  <div class="user-form-cont">
    <h2>Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="mb-3">
        <%= f.label :password, "New password", class: "form-label" %>
        <% if @minimum_password_length %>
          <small class="text-muted">(<%= @minimum_password_length %> characters minimum)</small>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, "Confirm new password", class: "form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <%= f.submit "Change my password", class: "btn btn-primary" %>
    <% end %>
   </div>
</div>
