<!DOCTYPE html>
<html>
<head>
  <title>Post Details</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 my-3">
        <h1 class="mt-2">Post Details</h1>
        <p class="lead">Here you can see details of the post.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 border rounded my-1">
        <div class="align-items-baseline d-flex justify-content-between">
          <h5 class="user-name py-3">
            <%= link_to "Post #{@post.id}", user_posts_path(@user), title: "To User Posts" %> by <%= link_to @user.name, user_path(@user), title: "To User Details" %>
          </h5>
            <p><%= @post.comments.count %> comments</p>
            <p><%= @post.likes.count %> Likes</p>
      </div>
      <h5 class="user-name">
        Post Title: <%= @post.title %> 
      </h5>
        <p class="user-name">
          Post Text: <%= @post.text %>  
        </p>
    </div>

<div class="col-sm-12 border rounded my-3">
  <h4 class="user-name">Comments (<%= @post.comments.count %> comments):</h4>
  <ul class="list-unstyled">
    <% if @post.comments.empty? %>
      <li>No comments yet.</li>
    <% else %>
      <% @post.comments.each do |comment| %>
        <li>
          <strong><%= comment.user.name %>:</strong> <%= comment.text %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

</body>
</html>
